html {
  height: 100%;
  width: 100%;
  font-size: 32px;
  font-weight: 300;
  color: #fff;
  background-color: #2980b9;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', sans-serif;
}

body {
  padding: 64px;
}


.header {
  font-weight: 500;
  margin-bottom: 32px;
}

.item {
  margin-bottom: 16px;
}
